---
import MainHead from '../components/MainHead.astro';
import { frontmatter } from '../pages/index.md';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MainHead title={frontmatter.title} description={frontmatter.description} />
  </head>
  <body>
    <header>
      <h1>
        <a class="underlined" href="/">{frontmatter.title}</a>
      </h1>
    </header>

    <main>
      <section>There's nothing here
				<br/>
				<a href="/">Return home</a>
			</section>
    </main>
  </body>
</html>
