---
import MainHead from '../components/MainHead.astro';
import type { Index } from '../types';

interface Props {
	content: Index;
}

const { content } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MainHead title={content.title} description={content.description} />
  </head>
  <body>
    <header>
      <h1>
        <a class="underlined" href="#">{content.title}</a>
      </h1>
    </header>
  </body>
</html>
