---
import MainHead from '../components/MainHead.astro';
import IndexComponent from './index';

interface Props {
	content: {
    title: string;
    description: string;
  };
}

const { content } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MainHead title={content.title} description={content.description} />
  </head>
  <body>
    <IndexComponent title={content.title} />
  </body>
</html>
