---
import MainHead from '../../components/MainHead.astro';
---
<html lang="en">
<head>
  <MainHead
    title="Content Manager"
    description="Web admin page for managing website content"
  />
</head>
<body>
  <script>
    import './_cms';
  </script>
</body>
</html>
